#apps-container{
  background-color: #2f2e2e;
}

h2#apps-header{
  color: white;
  margin: 0;
  padding: 80px 0 64px 0;
}

#apps-images-container{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

div.apps-images-section{
  margin-left: 40.5px;
  margin-right: 40.5px;
}

img.app-images{
  height: 200px;
}

h5.app-images-label{
  margin: 0;
  padding-top: 24px;
  color: white;
}
