#about-container{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

p#about-text2.about-text{
  padding: 0 10%;
}

@media only screen and (min-width: 768px) {
#about-container{
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5% 0%;
}

h2#about-text1.about-text{
  text-align: right;
  padding-right: 80px;
  margin: 0;
}

p#about-text2.about-text{
  text-align: left;
  width: 500px;
  margin: 0;
  padding: 0;
}
}

@media only screen and (min-width: 992px) {
h2#about-text1.about-text{
  padding-right: 160px;
}
}
