div#formcontainer-component{
  justify-content: left;
}

div#formcontainer-home-link{
  text-align: left;
  padding: 32px 0 0 80px;
}

img.link{
  width: 250px;
}

div#form-container-upper{
  display: flex;
  justify-content: center;
}

div#form-container{
  display: flex;
  flex-direction: column;
  width: 360px;
}

div#form-header{
  display: flex;
  flex-direction: row;
  margin-top: 225px;
}

h3#form-headerh3.link + h3#form-headerh3-opacity.link{
  margin-left: 21px;
  margin-bottom: 30px;
}

h3#form-headerh3-opacity.link + h3#form-headerh3.link{
  margin-left: 21px;
  margin-bottom: 30px;
}

h3#form-headerh3{
  margin: 0;
}

h3#form-headerh3-opacity{
  opacity: .6;
  margin: 0;
}

form#form-input-submit{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

div.input-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input.form-input{
  color: #000;
  font-size: 20px;
  text-indent: 55px;
  height: 48px;
  opacity: 0.3;
  padding: 0;
  width: 360px;
}

img.input-image{
  height: 25px;
  padding-left: 20px;
  position: absolute;
}

div.input-text{
  color: #ddd;
  font-weight: 600;
  margin-left: 55px;
  position: absolute;
}

#form-button{
  height: 49px;
  border: none;
}
